@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:hsl(211, 68%, 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#notification-card {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color:hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    max-width: 700px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0;
    gap: 1rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-box {
    display: flex;   
    align-items: center;
}

.notification-count {
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    padding-bottom: 2px;
    font-weight: 900;
    margin-left: 4px;
    border-radius: 5px;
    width: 28px;
    height: 26px;
}

h1 {
    font-size: 1.5rem;
}

.mark-red-text {
    color: hsl(0, 0%, 50%);
    font-size: 0.8rem;
}

.heading p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: hsl(0, 0%, 20%);
}

.notification-item {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 16px;
    color: hsl(0, 0%, 50%);
}

.pfp {
    width: 60px;
}

.username {
    color: hsl(0, 0%, 0%);
    font-weight: 700;
}

.username:hover {
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.embedded-container {
    padding: 1rem 0 1rem 1rem;
    margin-left: 5.2rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(0, 0%, 70%);
    cursor: pointer;
}

.embedded-container:hover {
    background-color: hsl(205, 33%, 90%);
}

.embedded-msg {
    display: flex;
    align-items: flex-end;
    color: hsl(0, 0%, 50%);
}

.post-text {
    font-weight: 700;
    color: hsl(0, 0%, 50%);
}

.post-text:hover {
    cursor: pointer;
    color: hsl(0, 0%, 30%);
}

.grp-text {
    font-weight: 700;
    color: hsl(249, 96%, 10%);
}

.grp-text:hover {
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}

.unread {
    background-color: hsl(211, 68%, 94%);
}

.unread p:first-of-type::after {
    content: " ";
    background-color: hsl(1, 90%, 64%);
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 700px) {
    #notification-card {
        margin: 0;
        border-radius: 0;
    }
}